<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pontilaunch</title>
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="/public/css/body.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<header>
    <nav>
        <ul class="navegacion">
            <li><a href="">Inicio</a></li>
            <li><a href="/public/views/transmisiones.html">Transmisiones</a></li>
            <li class="dropdown">
                <a href="#">Social</a>
                <div class="dropdown-content">
                    <a href="#">Amigos</a>
                    <a href="#">Grupos</a>
                </div>
            </li>
            <li><a href="#">Salir</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="container text-center">
        <div class="row align-items-center">
          <div class="col tablero">
            <section>
                <header>
                    <form action="publicar.php" method="post">
                        <div>
                          <textarea id="post-text" class="facebook-post" name="post-text" placeholder="Que tienes pensado publicar?"></textarea>
                        </div>
                        <div>
                          <label for="post-image">Add an image (optional)</label>
                          <input type="file" id="post-image" name="post-image">
                        </div>
                        <button type="submit">Publicar</button>
                      </form>
                </header>
            </section>
            <article>
                <div class="publicacion">
                    <div class="publicacion-header">
                        <div class="publicacion-usuario">
                            <div class="publicacion-usuario-info">
                                <h3>Usuario</h3>
                            </div>
                        </div>
                    </div>
                    <div class="publicacion-body">
                        <p>Contenido</p>
                    </div>
                </div>
            </article>
          </div>
        </div>
      </div>

</main>

</body>
</html>