<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pontilaunch</title>
    <link rel="stylesheet" href="/public/css/register.css">
    <link rel="stylesheet" href="/public/css/body.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="container-in">
            <div class="logo">
                <img src="img/logo.png" alt="Pontilaunch">
            </div>
            <div class="form">
                <form action="register.php" method="post">
                    <input type="text" name="name" placeholder="Nombre" required>
                    <input type="email" name="email" placeholder="Correo electronico" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="submit" value="Registrarse" class="registrar">
                </form>
                <div class="volver">
                    <p>¿Ya tienes una cuenta? <a href="index.html">Regresar</a></p>
            </div>
    </div>
    </main>
</body>
</html>