body{
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}

nav{
    background-color: red;
    display: flex;
    justify-content: flex-start;
}

.navegacion{
    margin: 0;  
    padding: 1%;
}

nav ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}

nav ul li{
    margin: 0 10%;
}

nav ul li a{
    text-decoration: none;
    color: inherit;
}

nav ul li a:hover{
    text-decoration: none;
    color: white;
}

.dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #9c0000;
    min-width: auto;
    min-height: auto;
    z-index: 1;
    border-radius: 5%;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
  
  .dropdown-content a:hover {
    color: white;
  }
